body{
	min-width: 100vw;
	min-height: 100vh;
	margin: 0%;
}
button{
	background-color: red;
	color: white;
	width: 5vw;
	height: 5vw;
	margin: 0px;
	border: 0px;
}
img{
	width: 100vw;
	height: auto;
	margin: 0px;
	border: 0px;
	padding: 0px;

}