.photo {
  width: 40%;
}

.winter {
  width: 40%;
}
.flex {
  display: flex;
  /* border: double; */
  width: 90%;
}

.right {
  margin: 0 20px;
}

/* div border */
.flex{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.flex p {
  margin: 0; 
  padding: 0;
}